$violet1: #052b7e;
$violet2: #d849eb;
$red1: #d849eb;
$red2:rgb(255, 0, 98);
$blue1:rgb(255, 0, 98);
$blue2:rgb(0, 255, 179);
$gren1:rgb(0, 255, 179);
$gren2:rgb(0, 255, 21);
$textColor:#fff;
$secundaryTextColor:#000;